body {
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h1 {
    text-align: center;
    color: rgb(254, 155, 0);
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.entry {
    max-width: 700px;
}

.question {
    font-style: italic;
    font-weight: bold;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
